*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
h1{
    text-align: center;
    margin: 20px;
    padding: 5px;
}

.box {
    border: solid 3px black;
    background: gray;
    width: 400px;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    height: 250px;
    padding: 10px;
}
.h3box{
    background: green;
    padding: 5px;
    border: solid 3px black;
    position: relative;
    bottom: 13px;
    left: 221px;
    text-align: center;
    width: 166px;

}

